<div class="container">
  <h3>Payment Form</h3>

    <div class="row">
      <div class="form-group col">
        <label for="">Payee Name</label>
        <input class="form-control" #payeeInput (input) = "onNameChange(payeeInput.value)">
      </div>
      <div class="col">
        <label><b>Name</b></label>
        <div>{{name | titlecase}}</div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="">Ammount</label>
        <input class="form-control" type="number" #amount (input) = "onAmountChange($event)">
      </div>
      <div class="col">
        <label><b>Ammount</b></label>
        <div>{{amount.value |currency : "JPY" }}</div>
      </div>
    </div> 

    <div class="row">
    <div class="form-group col">
      <label for="">Pay Date</label>
      <input class="form-control" type="date" #date (input) = "onDateChange($event)">
    </div>
    <div class="col">
      <label><b>Date </b></label>
      <div>{{date.value | date: 'MMMM d, y'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Height </label>
      <input class="form-control" type="number" #height (input) = "onHeightChange($event)">
    </div>
    <div class="col">
      <label><b>Date </b></label>
      <div>{{height.value| number: '2.0-0' }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Distance in miles </label>
      <input class="form-control" type="number" #miles (input) = "onMilesChange($event)">
    </div>
    <div class="col">
      <label><b>kilometers </b></label>
      <div >{{miles.value| convertMilesToKM : 'km' | number : '1.0-2' }}</div>
    </div>
  </div>
 

   
  


</div>

